.haha {
height: 600px;
background-image: url("../img/auto.jpg");
}

.hehe{
    
    background-color: #1D3031;
}
.perviy{
    background-color: #1D3031;
}

.fotter{
    background-color: black;
}